/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #333;
  background-image: linear-gradient(to top, #E4E2E1 50%, #ce7807);
}

/* Logotipo */
.logotipo {
  font-family: "Orbitron";
  font-weight: 500;
  letter-spacing: 2px;
}

/* Menu de Navegação */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 0.25rem;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav .logo h1 {
  color: #fff;
  font-size: 2rem;
  text-indent: 1rem;
}

nav .menu-icon {
  display: none; /* Esconde o ícone do menu em telas maiores */
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem; /* Afasta o ícone da borda da tela */
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  width: 100%;
  text-align: end;
}

nav .nav-links li {
  margin-left: 0.5rem;
}

nav .nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  text-align: center;
}

nav .nav-links a:hover {
  color: #ce7807;
}

/* Estilo para Dispositivos Móveis */
@media (max-width: 768px) {
  nav .menu-icon {
    display: block; /* Mostra o ícone do menu em telas menores */
  }

  nav .nav-links {
    position: absolute;
    top: 60px; /* Ajuste conforme a altura do menu */
    right: 0;
    background: #333;
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  nav .nav-links.active {
    height: 200px; /* Altura do menu expandido */
  }

  nav .nav-links li {
    margin: 0rem 0;
    text-align: center;
  }
}

/* Seção Hero */
.hero {
  height: 100vh;
  background: url('Imagens/Hero\ Image.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 1rem;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.hero .btn {
  background: #ce7807;
  color: #fff;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.hero .btn-secondary {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.hero .btn:hover {
  transform: scale(1.05);
  background: #ed820e;
}

.hero .btn-secondary:hover {
  transform: scale(1.05);
  border-color: #ec810e;
}

/* Ajustes para Dispositivos Móveis */
@media (max-width: 768px) {
  .hero {
    height: 80vh;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 0.5rem;
  }

  .hero .btn {
    width: 100%;
    padding: 0.8rem;
    font-size: 0.9rem;
  }

  .hero .btn-secondary {
    width: 100%;
    padding: 0.8rem;
    font-size: 0.9rem;
  }
}

/* Seções comuns */
section {
  padding: 4rem 2rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* Sobre Nós */
.about .team {
  display: flex;
  justify-content: center; /* Centraliza os itens na linha principal */
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Para suavidade em dispositivos móveis */
  gap: 0.25rem;
  padding: 0.25rem; /* Adiciona padding para espaçamento */
}

.team-member {
  min-width: 150px; /* Largura mínima dos itens para garantir a rolagem */
  flex: 0 0 auto; /* Evita que os itens se comprimam */
  text-align: center;
}

.team-member img {
  width: 150px; /* Largura fixa para as imagens */
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}




/* Estilo do Carrossel */
.carousel {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel-images {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.carousel-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #ffffff;
  background: none;
  padding: 0.25rem;
  border-radius: 10px;
  max-width: 600px;
  letter-spacing: 2px;
  text-shadow: 2px 4px 5px #00000080;
}

.carousel-text h2 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.carousel-text p {
  font-size: 1rem;
  margin: 0;
}

/* Setas de Navegação */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: #fff;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
  transition: background 0.3s ease;
}

.arrow.prev {
  left: 10px;
}

.arrow.next {
  right: 10px;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Ajustes para Dispositivos Móveis */
@media (max-width: 768px) {
  .carousel {
    height: 50vh;
  }

  .carousel-text {
    bottom: 10px;
    left: 10px;
    padding: 0.8rem;
    max-width: 80%;
  }

  .carousel-text h2 {
    font-size: 1.2rem;
  }

  .carousel-text p {
    font-size: 0.9rem;
  }

  .arrow {
    padding: 0.8rem;
    font-size: 1.5rem;
  }
}

/* Seção de Serviços */
.service-list {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Para suavidade em dispositivos móveis */
  gap: 2rem;
  padding: 1rem; /* Adiciona padding para espaçamento */
}

.service-item {
  background: #f4f4f4;
  padding: 1.5rem;
  border-radius: 10px;
  min-width: 300px; /* Largura mínima dos itens para garantir a rolagem */
  flex: 0 0 auto; /* Evita que os itens se comprimam */
}

/* Estilo da Seção de Contato */
.contact {
  padding: 2rem 1rem;
  text-align: center;
}

.contact form {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact button {
  background: #ed820e;
  color: #fff;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* Estilo dos Links de Redes Sociais */
.social-links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.social-icon {
  color: #333;
  font-size: 2rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon span {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #333;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  color: #ed820e;
  transform: scale(1.1);
}

.social-icon:hover span {
  opacity: 1;
  transform: translateY(5px);
}

.social-title {
  margin-top: 4rem;
  font-size: 1.5rem;
}

/* Rodapé */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

/* Botão de Voltar ao Topo */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ed820e;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1000;
  transition: background 0.3s ease;
}

.back-to-top:hover {
  background: #ed820e;
}

/* Animação de Revelação */
.reveal {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 1200px) {
  /* Estilos para dispositivos com largura até 1200px */
}

@media (max-width: 768px) {
  /* Estilos para dispositivos com largura até 768px */
}

@media (max-width: 480px) {
  /* Estilos para dispositivos com largura até 480px */
}

.container {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem linha se necessário */
  justify-content: space-around;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta as colunas de acordo com o espaço disponível */
  gap: 1rem;
}
