/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  overflow-x: hidden;
  width: 100%;
  background-color: #000000;
}

img, iframe, video {
  max-width: 100%;
  height: auto;
}

/* Logotipo */
.logotipo {
  font-family: "Orbitron";
  font-weight: 500;
  letter-spacing: 2px;
}

/* Menu de Navegação */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #242424;
  padding: 0.25rem;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
  text-indent: 10px;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

nav .logo h1 {
  color: #fff;
  font-size: 2rem;
  text-indent: 1rem;
  align-content: center;
}

nav .menu-icon {
  display: none; /* Esconde o ícone do menu em telas maiores */
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem; /* Afasta o ícone da borda da tela */
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  width: 100%;
  text-align: end;
}

nav .nav-links li {
  margin-left: 0.5rem;
}

nav .nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  text-align: center;
}

nav .nav-links a:hover {
  color: #893101;
}

/* Estilo para Dispositivos Móveis */
@media (max-width: 768px) {
  nav .menu-icon {
    display: block; /* Mostra o ícone do menu em telas menores */
  }

  nav .nav-links {
    position: absolute;
    top: 60px; /* Ajuste conforme a altura do menu */
    right: 0;
    background: #333;
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  nav .nav-links.active {
    height: 200px; /* Altura do menu expandido */
  }

  nav .nav-links li {
    margin: 0rem 0;
    text-align: center;
  }
}

/* Seção Hero */
.hero {
  height: 100vh;
  background: url('Imagens/Hero\ Image.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 1rem;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero-logo {
  max-width: 100%; /* Garante que a imagem não ultrapasse o container */
  height: auto; /* Mantém a proporção da imagem */
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 2px 4px 5px #00000080;
}

.hero-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 4px 5px #00000080;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-shadow: 2px 4px 5px #00000080;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  
}

.hero .btn {
  background: #d16002;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.hero .btn-secondary {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-shadow: 2px 4px 5px #00000080;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.hero .btn:hover {
  transform: scale(1.05);
  background: #d16002;
}

.hero .btn-secondary:hover {
  transform: scale(1.05);
  border-color: #d16002;
}

/* Ajustes para Dispositivos Móveis */
@media (max-width: 768px) {
  .hero {
    height: 80vh;
  }

  .hero-logo {
    width: 150px; /* Define o tamanho da imagem para mobile */
  }

  .hero-content h1 {
    font-size: 1.5rem;
  }

  .hero-content h2 {
    font-size: 1.2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-buttons {
    flex-direction: column; /* Botões um em cima do outro */
    gap: 0.5rem; /* Espaçamento entre os botões */
    width: 100%; /* Garante que o container ocupe toda a largura */
  }

  .hero .btn,
  .hero .btn-secondary {
    width: 100%; /* Botões ocupam toda a largura disponível */
    padding: 0.8rem;
    font-size: 0.9rem;
  }
}

/* Seções comuns */
section {
  padding: 4rem 1rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* Sobre Nós */
.about {
  text-align: center;
  padding: 2rem 3rem;
  gap: 1rem;
}

.carousele {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
}

.team {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.team-member {
  flex: 0 0 100%;
  text-align: center;
  transition: transform 0.5s ease;
  display: none; /* Oculta todos os membros inicialmente */
}

.team-member.active {
  display: block; /* Mostra apenas o membro ativo */
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #007bff;
}

/* Estilo do Carrossel */
.carousel {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 8px 10px 8px #00000080;
  border: inset 2px 10px #242424;
}

.carousel-images {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.carousel-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #ffffff;
  background: none;
  padding: 0.25rem;
  border-radius: 10px;
  max-width: 600px;
  letter-spacing: 2px;
  text-shadow: 2px 4px 5px #00000080;
}

.carousel-text h2 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.carousel-text p {
  font-size: 1rem;
  margin: 0;
}

/* Setas de Navegação */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: #fff;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
  transition: background 0.3s ease;
}

.arrow.prev {
  left: 10px;
}

.arrow.next {
  right: 10px;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Ajustes para Dispositivos Móveis */
@media (max-width: 768px) {
  .carousel {
    height: 50vh;
  }

  .carousel-text {
    bottom: 10px;
    left: 10px;
    padding: 0.8rem;
    max-width: 80%;
  }

  .carousel-text h2 {
    font-size: 1.2rem;
  }

  .carousel-text p {
    font-size: 0.9rem;
  }

  .arrow {
    padding: 0.8rem;
    font-size: 1.5rem;
  }
}

/* Seção de Serviços */
.services {
  padding: 50px 20px;
  text-align: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-item {
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.service-item.reveal {
  opacity: 1;
  transform: translateY(0);
}

.service-item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  .service-list {
    max-width: 768px;
    align-items: center;
  }

  .service-item {
    min-width: 300px; /* Reduz a largura mínima dos itens */
    padding: auto;
  }

  .service-item h3 {
    font-size: 1.2rem; /* Reduz o tamanho do título */
  }

  .service-item p {
    font-size: 0.9rem; /* Reduz o tamanho do texto */
  }

  .service-item:hover {
    transform: translateY(-5px); /* Levanta ligeiramente o item */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
    transition: all 0.3s ease; /* Suaviza a transição */
  }
}

/* Estilo da Seção de Contato */
.contact {
  padding: 2rem 1rem;
  text-align: center;
}

.contact form {
  max-width: 600px; /* Limita a largura do formulário */
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact button {
  background: #d16002;
  border: 1px inset #ffffff;
  color: #ccc;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* Estilo dos Links de Redes Sociais */
.social-links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.social-icon {
  color: #fafafa;
  font-size: 2rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon span {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  color: #cacaca;
  transform: scale(1.1);
}

.social-icon:hover span {
  opacity: 1;
  transform: translateY(5px);
}

/* Rodapé */
footer {
  background: #271717;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

/* Ajustes para telas maiores (acima de 768px) */
@media (min-width: 768px) {
  .contact {
    padding: 4rem 1rem; /* Aumenta o padding para telas maiores */
  }

  .contact form {
    max-width: 800px; /* Aumenta a largura máxima do formulário */
  }

  .contact input,
  .contact textarea {
    font-size: 1.1rem; /* Aumenta o tamanho da fonte */
  }

  .contact button {
    font-size: 1.1rem; /* Aumenta o tamanho da fonte dos botões */
  }

  .social-links {
    gap: 3rem; /* Aumenta o espaçamento entre os ícones */
  }

  .social-icon {
    font-size: 2.5rem; /* Aumenta o tamanho dos ícones */
  }

  .social-icon span {
    font-size: 1rem; /* Aumenta o tamanho da fonte dos textos */
  }
}

/* Botão de Voltar ao Topo */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #d16002;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1000;
  transition: background 0.3s ease;
}

.back-to-top:hover {
  background: #893101;
}

/* Animação de Revelação */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1200px) {
  /* Estilos para dispositivos com largura até 1200px */
}

@media (max-width: 768px) {
  /* Estilos para dispositivos com largura até 768px */
}

@media (max-width: 480px) {
  /* Estilos para dispositivos com largura até 480px */
}

.container {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem linha se necessário */
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta as colunas de acordo com o espaço disponível */
  gap: 1rem;
}